In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = "https://www.billboard.com/charts/hot-100"

In [4]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [6]:
soup = BeautifulSoup(response.content, "html.parser")

In [48]:
songs = soup.select(
    'div.o-chart-results-list-row-container > ul > li.lrv-u-width-100p'
)
len(songs)

100

In [49]:
titles = []
artists = []

for row in songs:
    titles.append(row.h3.get_text().strip())
    artists.append(row.span.get_text().strip())

In [50]:
top100 = pd.DataFrame({
    'Title':titles,
    'Artist':artists
}, index=[x for x in range(1,101)])

top100

                                 Title                Artist
1      All I Want For Christmas Is You          Mariah Carey
2    Rockin' Around The Christmas Tree            Brenda Lee
3                     Jingle Bell Rock           Bobby Helms
4                       Last Christmas                 Wham!
5              A Holly Jolly Christmas             Burl Ives
..                                 ...                   ...
96                          Pick Me Up         Gabby Barrett
97                                 SOS                   SZA
98                           Forget Me         Lewis Capaldi
99                            La Jumpa  Arcangel & Bad Bunny
100                          Gone Girl                   SZA

[100 rows x 2 columns]